
*, *:before, *:after
   box-sizing: border-box


html
   font-size: 10px

body
   +proximaReg

a
   text-decoration: none


.light
   color: $light

.dark
   color: $dark

.primary
   color: $primary

.secondary
   color: $secondary

.strong
   font-weight: bold

.btn
   +proximaReg
   color: $light
   text-transform: uppercase
   padding: 1.78rem 2.7rem
   border: solid 1px #ffba15
   border-radius: 8px
   cursor: pointer

   &-primary
      box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.04)
      background: linear-gradient(to top, #d89800, #ffc843)
      font-size: 12px
      font-weight: 600

      &:hover
         background: linear-gradient(to bottom, #d89800, #ffc843)

.row
   display: flex

.section
   padding-top: 10rem
   padding-bottom: 10rem

   &__title
      margin: 0
      +proximaBold
      text-align: center
      font-size: 3.6rem
      color: $text-color

   &__subtitle
      margin: 0
      +proximaBold
      text-align: center
      color: $text-color


.form
   &-title
      text-align: center

   &-input
      vertical-align: middle
      width: 100%
      border: none
      outline: none
      line-height: 3rem
      font-size: 1.8rem

   &-button
      +proximaSemi
      padding: 2.2rem 4.4rem
      font-size: 1.6rem

   fieldset
      height: 6.2rem
      border-radius: 5px
      border: solid 1px #dddddd
      margin-bottom: 2rem

   legend
      +proximaReg
      font-size: 1.3rem
      text-align: center
      color: #565656

.slick-slide
   outline: none
