@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Bold.woff2") format("woff2"), url("../fonts/ProximaNova-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-RegularIt.woff2") format("woff2"), url("../fonts/ProximaNova-RegularIt.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: 'Proxima Nova Th';
  src: url("../fonts/ProximaNovaT-Thin.woff2") format("woff2"), url("../fonts/ProximaNovaT-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Proxima Nova Rg';
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Proxima Nova Lt';
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.container {
  margin: 0 auto;
  width: 1280px;
  max-width: 90%; }

*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-weight: 400;
  font-style: normal; }

a {
  text-decoration: none; }

.light {
  color: #ffffff; }

.dark {
  color: #000000; }

.primary {
  color: #ffba15; }

.secondary {
  color: #70c849; }

.btn {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffffff;
  text-transform: uppercase;
  padding: 1.78rem 2.7rem;
  border: solid 1px #ffba15;
  border-radius: 8px;
  cursor: pointer; }
  .btn-primary {
    box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.04);
    background: linear-gradient(to top, #d89800, #ffc843);
    font-size: 12px;
    font-weight: 600; }
    .btn-primary:hover {
      background: linear-gradient(to bottom, #d89800, #ffc843); }

.row {
  display: flex; }

.section {
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .section__title {
    margin: 0;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    font-size: 3.6rem;
    color: #1a1820; }
  .section__subtitle {
    margin: 0;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: #1a1820; }

.form-title {
  text-align: center; }

.form-input {
  vertical-align: middle;
  width: 100%;
  border: none;
  outline: none;
  line-height: 3rem;
  font-size: 1.8rem; }

.form-button {
  font-family: 'Proxima Nova Lt', sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 2.2rem 4.4rem;
  font-size: 1.6rem; }

.form fieldset {
  height: 6.2rem;
  border-radius: 5px;
  border: solid 1px #dddddd;
  margin-bottom: 2rem; }

.form legend {
  font-family: 'Proxima Nova Rg', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  text-align: center;
  color: #565656; }

.header {
  padding-top: 15px;
  padding-bottom: 4rem;
  background: transparent url("../img/bg-header.jpg") no-repeat center/cover; }
  .header__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
  .header .logo {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .logo__icon {
      width: 70px;
      height: 70px;
      margin-right: 22px; }
    .header .logo__text {
      line-height: 1;
      color: #292929; }
      .header .logo__text-title {
        font-family: 'Proxima Nova Lt', sans-serif;
        font-weight: 600;
        font-style: normal;
        margin: 0 0 10px 0;
        font-size: 20px; }
      .header .logo__text-subtitle {
        font-family: 'Proxima Nova Rg', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 15px; }
  .header__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header__contacts-phone {
      font-family: 'Proxima Nova Rg', sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 20px;
      color: #292929;
      margin-right: 3rem; }
  .header__content {
    padding-top: 8.6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #292929; }
    .header__content-text {
      max-width: 49.8rem; }
  .header__title {
    max-width: 49.8rem;
    margin: 0 0 3.5rem 0;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 1.45;
    letter-spacing: 0.6px; }
  .header__subtitle {
    margin: 0;
    margin-bottom: 5.5rem;
    max-width: 27.2rem;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.4rem; }
  .header__pricetag {
    margin: 0 0 1.9rem 0;
    text-align: center;
    max-width: 22.5rem;
    max-height: 10.5rem;
    background-color: #70c849;
    padding: 2.4rem 4rem 2.4rem;
    line-height: 1.3; }
    .header__pricetag-text {
      color: #ffffff;
      font-family: 'Proxima Nova Lt', sans-serif;
      font-weight: 600;
      font-style: normal;
      font-size: 1.8rem; }
      .header__pricetag-text strong {
        font-size: 3rem; }
  .header__payment {
    text-transform: uppercase;
    max-width: 22.5rem;
    text-align: center;
    margin: 0;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.2rem;
    line-height: 2.64;
    letter-spacing: 0.4px; }
  .header__workdays {
    display: block;
    margin-left: 2.2rem;
    max-width: 20.7rem;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: #565656;
    line-height: 1.3;
    letter-spacing: -0.2px; }
  .header__form {
    margin-bottom: 3.4rem;
    max-width: 35.5rem;
    max-height: 41rem;
    padding: 4.3rem 5rem;
    background-color: #ffffff; }
    .header__form-wrap {
      padding-top: 1.3rem; }
    .header__form-title {
      margin: 0 0 3rem 0;
      font-family: 'Proxima Nova Rg', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.8rem;
      max-width: 25.5rem;
      color: #292929; }
    .header__form-input {
      vertical-align: middle;
      width: 100%;
      border: none;
      outline: none;
      line-height: 3rem;
      font-size: 1.8rem; }
    .header__form fieldset {
      height: 6.2rem;
      border-radius: 5px;
      border: solid 1px #dddddd;
      margin-bottom: 2rem; }
    .header__form legend {
      font-family: 'Proxima Nova Rg', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.3rem;
      text-align: center;
      color: #565656; }
    .header__form-button {
      font-family: 'Proxima Nova Lt', sans-serif;
      font-weight: 600;
      font-style: normal;
      padding: 2.2rem 4.4rem;
      font-size: 1.6rem;
      width: 100%;
      margin-bottom: 1.5rem; }
    .header__form-text {
      margin: 0;
      font-family: 'Proxima Nova Rg', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.2rem;
      color: #565656;
      text-align: center; }

.advantage__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; }

.advantage__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-basis: 21%;
  color: #1a1820; }
  .advantage__column-icon {
    margin: auto auto 6.4rem;
    height: 7rem; }
  .advantage__column-title {
    height: 4.6rem;
    margin: 0 0 1.7rem 0;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem; }
  .advantage__column-text {
    font-family: 'Proxima Nova Th', sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 1.6rem; }

.advantage__title {
  margin-bottom: 13rem; }

.advantage .slick-slide {
  padding: 0 1rem;
  position: relative; }

.advantage .slick-active {
  outline: none; }

.advantage .slick-track {
  margin: auto;
  display: flex;
  justify-content: center; }

.advantage .slick-prev {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  border: none;
  background: url("../img/arrow-prev.png") no-repeat center;
  z-index: 10; }

.advantage .slick-next {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0;
  border: none;
  background: url("../img/arrow-next.png") no-repeat center;
  z-index: 10; }

.price {
  background-color: #005e00; }
  .price__row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .price__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .price__heading-column {
      text-align: center;
      flex-basis: 30%; }
      .price__heading-column:last-child {
        text-align: right; }
  .price__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    max-width: 32%; }
    .price__column + .price__column {
      margin-left: 1rem; }
    .price__column-title {
      text-align: center;
      margin-top: 0;
      margin-bottom: 3.5rem;
      min-height: 4.2rem;
      font-family: 'Proxima Nova Rg', sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 1.9rem;
      color: #1a1820; }
    .price__column-image {
      margin-bottom: 3.5rem;
      max-width: 100%;
      width: 300px; }
    .price__column-pricetag {
      font-family: 'Proxima Nova Rg', sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 1.9rem;
      margin-bottom: 3.4rem; }
      .price__column-pricetag strong {
        font-size: 3rem; }
    .price__column-list {
      margin: 0;
      margin-bottom: 3rem;
      padding: 0;
      list-style: none;
      text-align: center;
      transition: all 1000ms linear; }
      .price__column-list li {
        font-family: 'Proxima Nova Rg', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.8rem;
        color: #1a1820;
        line-height: 1.67; }
        .price__column-list li:before {
          content: '';
          display: inline-block;
          margin-right: 9px;
          width: 11px;
          height: 9px;
          vertical-align: middle;
          background: url("../img/list-sltyle.svg") no-repeat center/cover; }
  .price__title {
    margin: 0;
    margin-bottom: 4.9rem;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.6rem;
    color: #ffffff; }
  .price__subtitle {
    margin: 0;
    margin-bottom: 9rem;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    color: #ffffff; }
  .price__button {
    margin-top: auto;
    max-height: 6.5rem;
    font-family: 'Proxima Nova Lt', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    padding: 2rem 6rem; }
  .price .card {
    background: #ffffff; }
  .price .ul-button {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    color: #006b00;
    text-decoration: underline;
    background: transparent;
    border: none;
    margin: 0 0 2.4rem 0;
    transition: all 1000ms linear;
    display: none; }

.feedback {
  background: url("../img/feedback/feedback-bg.jpg") no-repeat center/cover; }
  .feedback__title {
    margin-bottom: 10rem; }
  .feedback-slider {
    padding: 4rem;
    box-shadow: 0 12px 18px 0 rgba(0, 0, 0, 0.11);
    background-color: #ffffff;
    position: relative;
    margin-bottom: 6rem; }
    .feedback-slider .slick-prev {
      position: absolute;
      background: #70c849 url("../img/feedback/arrowPrev.svg") no-repeat center;
      background-size: 13px 20px;
      border: none;
      font-size: 0;
      width: 4rem;
      height: 5rem;
      top: 50%;
      left: -4rem;
      transform: translateY(-50%);
      cursor: pointer; }
    .feedback-slider .slick-next {
      position: absolute;
      background: #70c849 url("../img/feedback/arrowNext.svg") no-repeat center;
      background-size: 13px 20px;
      border: none;
      font-size: 0;
      width: 4rem;
      height: 5rem;
      top: 50%;
      right: -4rem;
      transform: translateY(-50%);
      cursor: pointer; }
    .feedback-slider .slick-dots {
      margin-bottom: -2rem; }
      .feedback-slider .slick-dots button {
        margin: auto;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #c7c9c6; }
        .feedback-slider .slick-dots button:before {
          display: none; }
      .feedback-slider .slick-dots .slick-active button {
        background-color: #358015; }
  .feedback__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .feedback__column {
    max-width: 50%;
    flex-basis: 45%; }
    .feedback__column .fotorama-item {
      max-width: 100%; }
    .feedback__column p {
      font-size: 1.6rem;
      color: #1a1820; }
      .feedback__column p:first-child {
        margin-top: 0; }
    .feedback__column .client {
      display: flex;
      align-items: center;
      margin-top: 4.7rem;
      margin-bottom: 3.2rem; }
      .feedback__column .client img {
        width: 50px;
        height: 48px;
        border-radius: 50%;
        margin-right: 2rem; }
      .feedback__column .client__name span {
        font-size: 1.4rem; }
      .feedback__column .client__name p {
        font-family: 'Proxima Nova Rg', sans-serif;
        font-weight: 700;
        font-style: normal;
        margin: 0;
        margin-top: 0.8rem; }
  .feedback__comment {
    position: relative;
    padding: 2rem;
    border: 2px solid #49bf15; }
    .feedback__comment:before {
      content: '';
      position: absolute;
      width: 2rem;
      height: 2rem;
      top: -2rem;
      left: 4rem;
      background-color: #ffffff;
      border: 2px solid #49bf15;
      border-bottom: none;
      border-top-right-radius: 100%; }
  .feedback__form {
    position: relative;
    margin: 0 auto;
    max-width: 82.1rem;
    padding: 5rem 13.6rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff; }
    .feedback__form-title {
      font-size: 2.2rem;
      color: #1a1820;
      text-align: center;
      display: block;
      flex-basis: 100%; }
    .feedback__form-input--wrap {
      display: flex; }
    .feedback__form-button {
      min-width: 25.7rem; }
    .feedback__form-image {
      position: absolute;
      bottom: -9rem;
      left: -33rem; }
    .feedback__form fieldset {
      margin-bottom: 3rem;
      min-width: 25.6rem; }
    .feedback__form fieldset + fieldset {
      margin-left: 3.3rem; }
  .feedback__callback {
    display: none;
    margin-top: 3rem;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    color: #565656;
    text-align: center; }

.structure {
  background: transparent url("../img/structure/smoothing-hand.jpg") no-repeat bottom right; }
  .structure__title {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.6rem;
    margin-bottom: 4.9rem; }
  .structure__subtitle {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    margin-bottom: 6.5rem; }
  .structure__row {
    align-items: flex-start;
    flex-wrap: wrap; }
  .structure__column {
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    flex-basis: 30%;
    margin-top: 6rem; }
    .structure__column-icon--wrap {
      height: 100px; }
    .structure__column-title {
      min-height: 5rem;
      font-family: 'Proxima Nova Rg', sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 2.2rem; }
    .structure__column-text {
      max-width: 30rem;
      font-family: 'Proxima Nova Rg', sans-serif;
      font-weight: 400;
      font-style: normal;
      font-size: 1.7rem; }

.package {
  padding-bottom: 0;
  background-color: #f5f5f5; }
  .package__title {
    margin-bottom: 4.9rem;
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 4.8rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.38;
    letter-spacing: normal;
    text-align: center;
    color: #358015; }
  .package__subtitle {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.13;
    letter-spacing: normal;
    color: #1a1820;
    margin-bottom: 10.2rem; }
  .package__row {
    justify-content: space-between;
    flex-wrap: wrap; }
  .package__column {
    flex-basis: 23%;
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-bottom: 9.8rem; }
    .package__column-icon {
      width: 50px;
      height: 50px;
      margin: 0 1.9rem; }
    .package__column-text {
      color: #000000; }
    .package__column-title {
      font-family: 'Proxima Nova Rg', sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 1.6rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.13;
      letter-spacing: normal;
      text-align: left;
      margin: 0; }
    .package__column-small {
      font-family: 'Proxima Nova Th', sans-serif;
      font-weight: 100;
      font-style: normal;
      font-size: 1.3rem;
      font-weight: 300;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left; }

.solutions {
  position: relative;
  background-color: #ffffff; }
  .solutions__image {
    position: absolute;
    left: 48%;
    bottom: 0;
    transform: translateX(-50%); }
  .solutions__title {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3.6rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #000000;
    margin-bottom: 8.6rem; }
  .solutions__row {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  .solutions__column {
    display: flex;
    flex-direction: column;
    padding: 4.8rem;
    border: solid 3px #e8e8e8;
    max-width: 55rem;
    width: 54.8rem;
    max-height: 38rem;
    height: 38rem;
    margin-bottom: 3rem; }
    .solutions__column:last-child {
      border: 3px solid #358015; }
    .solutions__column-title {
      margin: 0;
      margin-bottom: 4rem;
      font-family: 'Proxima Nova Rg', sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 2.1rem;
      font-stretch: normal;
      font-style: normal;
      line-height: 0.86;
      letter-spacing: normal;
      text-align: left;
      color: #000000; }
    .solutions__column-list {
      list-style: none;
      padding: 0; }
      .solutions__column-list li {
        display: flex;
        align-items: center;
        font-family: 'Proxima Nova Rg', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 1.6rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
        text-align: left;
        color: #313131; }
      .solutions__column-list img {
        width: 18px;
        height: 14px;
        margin-right: 2rem; }
      .solutions__column-list li + li {
        margin-top: 3rem; }
  .solutions__mobile {
    display: none; }
  .solutions__subtitle {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 700;
    font-style: normal;
    display: block;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-bottom: 4rem; }
  .solutions__question {
    font-family: 'Proxima Nova Rg', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #010101; }
  .solutions__answer {
    padding: 2rem;
    color: #009300;
    border: solid 3px #009300; }
    .solutions__answer p {
      margin: 0;
      margin-bottom: 1rem;
      font-family: 'Proxima Nova Rg', sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 13px; }
    .solutions__answer span {
      font-size: 13px; }
  .solutions .problems .solutions__column-title {
    opacity: 0.5;
    color: rgba(49, 49, 49, 0.5); }
  .solutions .problems li + li {
    margin-top: 4rem; }
  .solutions .problems li img {
    width: 18px;
    height: 18px; }

@media screen and (max-width: 1700px) {
  .structure {
    background-size: 60%;
    background-position: bottom right -40%; } }

@media screen and (max-width: 1400px) {
  .solutions__image {
    display: none; }
  .solutions__column {
    margin: auto;
    margin-bottom: 3rem; } }

@media screen and (max-width: 1250px) {
  .package__row {
    justify-content: flex-start;
    align-items: center; }
  .package__column {
    flex-basis: 30%; } }

@media screen and (max-width: 1200px) {
  .feedback__form-image {
    display: none; } }

@media screen and (max-width: 992px) {
  .header {
    background-position: top left; }
    .header__container {
      flex-wrap: wrap; }
    .header .logo {
      margin-top: 3rem;
      justify-content: center;
      flex-basis: 100%;
      order: 3; }
    .header__contacts {
      margin: 0 auto;
      justify-content: center; }
    .header__content {
      flex-direction: column;
      align-items: center;
      text-align: center; }
      .header__content-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto; }
    .header__workdays {
      margin: auto; }
  .price {
    padding-top: 4rem; }
    .price__heading {
      flex-direction: column;
      align-items: center; }
      .price__heading-button {
        display: none; }
    .price__title {
      margin-bottom: 2rem; }
    .price__subtitle {
      margin-bottom: 2.6rem; }
    .price__row {
      flex-direction: column;
      align-items: center; }
    .price__column {
      padding: 5%;
      margin: 0;
      max-width: 100%;
      flex-basis: 100%;
      min-height: auto; }
      .price__column + .price__column {
        margin: 2rem 0 0; }
      .price__column-list {
        display: none; }
    .price .ul-button {
      display: block; }
  .show-list {
    display: block; }
  .feedback__row {
    flex-direction: column;
    align-items: center; }
  .feedback__column {
    max-width: 100%; }
    .feedback__column .fotorama {
      margin-bottom: 3rem; }
  .feedback__form {
    padding: 5%; }
  .package__row {
    justify-content: center; }
  .package__column {
    flex-basis: 40%; } }

@media screen and (max-width: 768px) {
  html {
    font-size: 8px; }
  .header .logo {
    margin-top: 2rem; }
  .section {
    padding-top: 5rem;
    padding-bottom: 8rem; }
    .section__title {
      font-size: 24px;
      margin: 0;
      margin-bottom: 5rem;
      padding-bottom: 5rem; }
  .price__title {
    font-size: 24px; }
  .price__subtitle {
    font-size: 18px; }
  .price__column-title {
    margin-bottom: 5%;
    min-height: unset; }
  .price__column-list {
    margin-bottom: 2.4rem; }
  .feedback-slider-prev {
    left: 0; }
  .feedback-slider-next {
    right: 0; }
  .feedback-slider-dots {
    position: static;
    margin-top: 3rem;
    margin-bottom: -10rem; }
    .feedback-slider-dots li button {
      width: 10px;
      height: 10px;
      background: #c7c9c6;
      border-radius: 50%; }
      .feedback-slider-dots li button:before {
        display: none; }
    .feedback-slider-dots .slick-active button {
      background: #70c849; }
  .feedback__callback {
    display: block; }
  .feedback__form {
    margin-top: 8rem; }
    .feedback__form fieldset + fieldset {
      margin-left: unset; }
    .feedback__form-input {
      width: 100%; }
      .feedback__form-input--wrap {
        flex-direction: column; }
  .structure__title {
    padding-bottom: 0; }
  .structure__subtitle {
    margin-bottom: 0; }
  .structure__row {
    flex-direction: column;
    align-items: center; }
  .structure__column {
    margin-right: 0;
    align-items: center;
    text-align: center;
    margin-bottom: 6rem; }
    .structure__column-title {
      min-height: unset;
      margin-bottom: 2rem; }
  .solutions__title {
    padding-bottom: 0; } }

@media screen and (max-width: 576px) {
  .header__contacts {
    margin-bottom: 3.4rem;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .header__contacts-phone {
      font-size: 1.9rem; }
  .header__content {
    padding-top: 4.6rem; }
  .header__title {
    font-size: 2.8rem;
    margin-bottom: 3rem; }
  .header__subtitle {
    font-size: 1.9rem;
    margin-bottom: 3rem; }
  .header__pricetag {
    margin-bottom: 2.3rem; }
  .header__payment {
    line-height: 1;
    margin-bottom: 2.3rem; }
  .header__form {
    padding: 4rem; }
    .header__form-wrap {
      padding-top: 0; }
  .header .btn {
    padding: 1.4rem 1.9rem;
    font-size: 1.2rem; }
  .feedback-slider {
    padding: 4%;
    padding-bottom: 4rem; }
  .package {
    padding-bottom: 1rem; }
    .package__title {
      margin-bottom: 5rem;
      padding-bottom: 0; }
    .package__subtitle {
      margin-bottom: 3rem; }
    .package__row {
      justify-content: center;
      align-items: center; }
    .package__column {
      flex-basis: 90%;
      margin-bottom: 4rem; }
      .package__column:last-child {
        margin-bottom: 2rem; }
  .solutions__column {
    display: none; }
  .solutions__mobile {
    display: block; } }
